body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cms-assets.tutsplus.com/cdn-cgi/image/width=630/uploads/users/2660/posts/35190/image/zimed-app-landing-page-html-template-J33MNVG.jpg");

  /* Set a specific height */
  height: 1000px;

  /* Position and center the image to scale nicely on all screens */

  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Place text in the middle of the image */
.hero-text {



  color: white;
}