.OverDueTask-container{
    width: 100%;
    min-height: 8em;
    border: 1px solid rgb(213, 213, 213);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.OverDue-icon-container{
 flex: 1;
 text-align: center;
 
}
.o-column{
  flex:2;
}
.OverDue-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15em;
  min-width: 12em;
  text-align: center;

}
.c-div{
  flex:1
}



.dot {
    height: 15px;
    width: 15px;
    background-color: rgba(255, 0, 0, 0.612);
    border-radius: 50%;
    display: inline-block;
   
  }

  .overdue-description{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0em !important;
  }

  .overdue-date{
    margin-top: 5px ;
    font-size: 14px;
    color: rgb(173, 17, 49);
  }
